.content-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden; 
  }
  
  .scrollable-content {
    flex: 1; 
    overflow-y: auto; 
    padding: 20px; 
  }
  app-footer {
    margin-top: auto; 
    background-color: black;
  }
  /* Styles to increase header height and set layout */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full height of viewport */
}

.header {
    height: 120px; /* Adjust height of header as needed */
    background-color: #f0f0f0; /* Example background color */
}







