<!DOCTYPE html>
<head>

</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 px-xl-0 mb-0 mb-lg-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Accessibility</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            <h2 style="font-weight:bold">Accessibility</h2>
            <br>
            <p>The Public Budgeting and Finance is committed to making its website accessible to the widest possible audience, regardless of technology or ability. This website strives to conform to Level AA of the World Wide Web Consortium (W3C) Web Content Accessibility Guidelines 2.0, a set of guidelines which explain how to make web content more accessible for people with disabilities. Conformance with these guidelines makes the web more user-friendly for all people.</p>

            <p>While we work to adhere to accepted guidelines and standards for accessibility and usability, it is not always possible to do so in all areas. We actively seek to make improvements that will bring all areas of the site up to the same level of overall accessibility. In the meantime, should you experience any difficulty in accessing our pages, please contact us at <a href="mailto:pbaf&#64;indiana.edu" style="color:black">pbaf&#64;indiana.edu</a>.</p>
                
            <p>For all other inquiries such as Subscriptions, Editorial Inquiries, Manuscript Submissions, Advertising, and more, please refer to our Contact Us page.</p>
        </div>
    </div>