<!DOCTYPE html>
<head>

</head>
<body>
    <main class="card-container">
        <section>
            <h2 class="heading" id="Terms-Of-Service">Terms of Service</h2>
            <br>
            <div class="row card-section">
                <div class="col-10">
                    <h3>Introduction</h3>
                    <p>Welcome to the Public Budgeting and Finance website. By accessing or using our services, you agree to comply with and be bound by these Terms of Service. If you do not agree to these Terms, please do not use our Website.</p>
                    <h4>Service Usage</h4>
                    <p style="font-weight: 500;"><i>Access and Use</i></p>

                    <p>We grant you a limited, non-exclusive, non-transferable license to access and use the Website for personal and non-commercial purposes.</p>
                    
                    <p style="font-weight: 500;"><i>Content</i></p>
            
                    <p>The content provided on the Website is for informational purposes only.
                    We do not guarantee the accuracy, completeness, or usefulness of any information on the Website. </p>

                    <h4>Intellectual Property</h4>
                    <p style="font-weight: 500;"><i>Ownership</i></p>
                
                    <p>All content on the Website, including text, graphics, logos, and software, is the property of the Public Budgeting and Finance Journal or its licensors and is protected by intellectual property laws.</p>

        
                    <p style="font-weight: 500;"><i>User Content</i></p>
                    <p>
                        
                            By submitting content to the Website, you grant us a non-exclusive, worldwide, royalty-free license to use, reproduce, and distribute your content.
                
                    </p>
                    <h4>Change to terms </h4>
                    We may update these Terms from time to time. Notice of changes will be posted on our Website. Your continued use of the Website after changes are posted constitutes your acceptance of the new Terms.
                </div>
            </div>
            <br>
            <br>
            <h2 class="heading" id="Redistribution-Policy">Redistribution Policy</h2>
            <br>
            <div class="row card-section">
                <div class="col-10">
                    <h2 class="heading" id="Redistribution-Policy"></h2>
                    <h3 style="font-weight: 500;">Attribution</h3>
                    <p>When redistributing our content, proper credit must be given to Public Budgeting and Finance. This includes clearly identifying Public Budgeting and Finance Link as the original source and providing a direct link to the original article or content on our website. The attribution should be prominently displayed and easily accessible to readers.</p>
                    <h3>Integrity</h3>
                    <p>The content must be reproduced accurately. Altering, summarizing, or editing the content in a way that could change its meaning or context is prohibited.</p>
                    <h3>Fair Use</h3>
                    <p>Redistribution must comply with all applicable laws and regulations, including those related to fair use. This means that while we allow redistribution under the terms specified, the use of our content must be fair and not infringe on any intellectual property rights.</p>
                    By redistributing our content, you agree to adhere to these terms. Failure to comply may result in legal action.
                </div>
            </div>
            <br>
            <br>
            <h2 class="heading" id="Privacy-Policy">Privacy Policy</h2>
            <br>
            <div class="row card-container">
                <div class="col-10">
                    <h3>Introduction</h3>
                    <p>The Public Budgeting and Finance ("we," "us," "our") is committed to protecting your privacy. This Privacy Policy explains how we collect, use, and share your personal information.</p>
                    <h4>Use of Personal Information</h4>
                    <p>We collect personal information that you provide to us, such as your name, email address, and research interests when you create an account. Public Budgeting and Finance uses your personal information to provide and improve our services, process transactions, and communicate with you.
                    <p>We may also use the information we gather to inform you of other products or services available from the Public Budgeting and Finance journal or to contact you about your opinion of current products and services or potential new products and services that may be offered.</p>
                    <h4>Data Security</h4>
                    <p>We are concerned with protecting your privacy and data, but we cannot ensure or warrant the security of any information you transmit to us and we cannot guarantee that your information on the Public Budgeting and Finance Website may not be accessed, disclosed, altered, or destroyed by breach of any of our industry- standard physical, technical, or managerial safeguards. We provide reasonable technical, administrative, and physical controls to secure the confidentiality, integrity, and availability of personal information.</p>
                    <h4>Children's Privacy</h4>
                    <p>We take the privacy of children very seriously. Our services are not intended for Children under 16 years of age. Therefore, we do not knowingly collect personal information from children under 16 years of age. If a child under the age of 16 wishes to access or use our services, they may only do so with the express consent of their parent or guardian. By using our website or services you represent that you are at least 16 years of age or have received such express authorization.</p>
                    <h4>Legal Requests</h4>
                    <p>Public Budgeting and Finance reserves the right to share your information to respond to duly authorized information requests of governmental authorities or where required by law.</p>
                    <h4>Additional Terms and Rules for Social Networking</h4>
                    <p>Social networking services provided on the Public Budgeting and Finance Website may have additional terms of conduct, privacy policies, and privacy settings that you will be required to agree to and set when you register for such services.</p>
                    <h4>Acceptance of these terms</h4>
                    <p><b>Your use of the </b>Public Budgeting and Finance Website <b>shall indicate your understanding and acceptance of the terms of this Privacy Statement. If you do not agree with all the terms herein, you should not use the </b>Public Budgeting and Finance Website or <b>services.</b></p>
                    <h4>Contact Information</h4>
                    <p>For questions or concerns about this Privacy Policy, please contact us at: <a href="mailto: pbaf&#64;indiana.edu"> pbaf&#64;indiana.edu</a></p>
                </div>
            </div>
        </section>

    </main>
</body>