<nav class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-bg-body-tertiary navbar-with-border" aria-label="Main navigation">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/browse" href="#">Browse</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/productinformation.html">Overview</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/journal/15405850/journal-metrics">Journal Metrics</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/society.html">Society Information</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/contact.html">Contact</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/editorialboard.html">Editorial Board</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/oa-advantages">OA advantages</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/news.html">News</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/advertise.html">Advertise</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/permissions.html">Permissions</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Contribute
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/forauthors.html">Author Guidelines</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/fundedaccess.html">Open Access</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/forauthors.html">Submit a manuscript</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://authorservices.wiley.com/Reviewers/index.html">For References</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="https://onlinelibrary.wiley.com/page/journal/15405850/homepage/specialissuecfp.html">Call for Papers</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>


